root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,cshtml}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.cs]
dotnet_diagnostic.CS1591.severity = none

[*.{json,yml,yaml}]
indent_size = 2

[*.{props,targets,csproj,xml,xsd}]
indent_size = 2
max_line_length = off

[*.md]
trim_trailing_whitespace = false

[*.{cmd,bat,sln}]
end_of_line = crlf
